* {
  font-size: 13px;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0;
  padding: 0;
  margin: 0 0 0 0;
}
window#waybar {
  background: rgba(29, 32, 33, 0.9);
  /* background: transparent; */
  color: #a89984;
  padding: 0;
  margin: 0;
  border: none;
  opacity: 1; 
}
#custom-clock,
#custom-date,
#battery {
  /* background: rgba(29, 32, 33, 0.95); */
  padding: 2px 8px 4px;
  background: transparent;
}

#battery {
  color: #d3869b;
}

#custom-date {
  color: #8ec07c;
}

#custom-clock {
  color: #ebdbb2;
}

#custom-todo {
  padding: 2px 8px 4px;
  /* color: #ebdbb2; */
  /* color: #b8bb26; */
  color: #fabd2f;
  /* color: #d3869b; */
}

#workspaces {
  padding: 2px 2px 4px
}

#custom-niri-count {
  padding: 2px 8px 4px;
  color: #d3869b;
}

#workspaces button {
  padding: 0 6px;
  /* color: #a89984; */
  color: #ebdbb2;
  /* background: rgba(29, 32, 33, 0.95); */
  /* background: transparent; */
  /* color: #a89984; */
  /* border-radius: 0; */
  /* padding: 4px 4px; */
  /* border: none; */
  /* margin: 0; */
}
#workspaces button.active {
  color: #b8bb26;
  /* background: #928374; */
  /* color: black; */
  /* font-weight: 700; */
}
